@media screen and (max-width: 576px) {
  .fondoHome {
    width: 100%;
    height: 350vh;
    display: grid;
    grid-template-areas: "header" "imagen" "article" "tabla" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 4fr 3fr 4fr 1fr;
  
  }
  .fondoQuienes {
    width: 100%;
    height: 350vh;
    display: grid;
    grid-template-areas: "header" "article" "imagen" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 3fr 4fr 1fr;
  }
  .fondoGaleria {
    width: 100%;
    height: 350vh;
    display: grid;
    grid-template-areas: "header" "carrusel" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr 1fr;
  }
  .fondoServicios {
    width: 100%;
    height: 350vh;
    display: grid;
    grid-template-areas: "header" "article" "imagen" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr 4fr 1fr;
  }
  .fondoContacto {
    width: 100%;
    height: 350vh;
    display: grid;
    grid-template-areas: "header" "formulario" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr 1fr;
  }

  .imagenLista {
      width: 100%;
    animation: none;
  }

  table {
      width: 100%;
  }

  .listaMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    text-align: center;
  }
}
